* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html{
    scroll-behavior: smooth;
}
p{
    line-height: 2;
}

a{
    text-decoration: none;
    color: inherit; /*Sesuai dengan chaidnya*/
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
}
.navbar{
    width: 100vw;
    background-color: whitesmoke;
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 5px 8px rgba(48, 24, 24, 0.2);
    position: sticky;
    top: 0;
    left: 0;
}
.navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.navbar__brand{
    font-family: "Staatliches", sans-serif;
    font-size: 1rem;
    color: orange;
    cursor: pointer;
    user-select: none;
}
.navbar__menu{
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    margin-left: auto; /*Membuat ul menjadi posisi di kanan*/
}
.navbar__menu li a:hover {
    color: orange;
}


.container__content{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}
.container__box{
    max-width: 800px;
    height:430px;
    background-color: rgb(235, 206, 189);
    margin: auto;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.8);
}
.container__box table, tr, th{
    text-align: left;
}
.container__box table, input, textarea{
    width: 100%;
    margin-bottom: 10px;
}
.container__box table, input{
    height: 30px;
}
.container__btn{
    width: 150px;
    height: 35px;
    margin-left: -50px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    background-color: blue;
    color: white;
}
.container__box .tombol:hover{
    background-color: lightskyblue;
}

.footer{
    margin-top: 50px;
    width: 100vw;
    background-color: rgb(158, 47, 47);
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2);
}
.footer__content{
    text-align: center;
    padding: 8px;
}
