/* CSS Reseter */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html{
    scroll-behavior: smooth;
}
p{
    line-height: 2;
}

a{
    text-decoration: none;
    color: inherit; /*Sesuai dengan chaidnya*/
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
}
.navbar{
    width: 100vw;
    background-color: whitesmoke;
    height: 70px;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 5px 8px rgba(48, 24, 24, 0.2);
    position: sticky;
    top: 0;
    left: 0;
}
.navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.navbar__brand{
    font-family: "Staatliches", sans-serif;
    font-size: 1rem;
    color: orange;
    cursor: pointer;
    user-select: none;
}
.navbar__menu{
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    margin-left: auto; /*Membuat ul menjadi posisi di kanan*/
    padding: 20px;
    border-radius: 3px;
}
.navbar__menu li.active a{
    background-color: aqua;
}
.navbar__menu li a:hover {
    color: orange;
}
/* Hero */
.hero{
    height: 450px;
    border-bottom: 2px solid lightsalmon;
    background-image: url(./assets/computer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -120px;
    box-shadow: 2px 5px 8px rgba(48, 24, 24, 0.2);
    padding-top: 80px; /*Untuk memberikan jarak atas antar img */
}
.hero img{
    display: block; /*Agar dapat mengatur width dan height img*/
    margin: auto; /*Digunakan agar img di tengah secara horizontal*/
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid black;
}
.hero__content h3{
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}
.hero__content h2{
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
}
.container__content{
    padding-top: 20px;
    font-size: 32px;
    color: rgb(41, 32, 32);
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.container__media{
    display: block;
    height: 200px;
    width: 200px;
    /* margin: auto; */
    border-radius: 50%;
    border: 2px solid black;
}
.container__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.container__box--list {
    font-weight: bold;
    font-size: 18px;
    word-spacing: 5px;
}
.footer{
    margin-top: 50px;
    width: 100vw;
    height: 50px;
    background-color: rgb(158, 47, 47);
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.2);
}
.footer__content{
    text-align: center;
    padding: 8px;
}

/* File Portfolio */
.workingspace{
    margin-bottom: 50px;
    text-align: center;
}
.workingspace h1{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.box{
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap; /*Agar thumbanil turun ke bawah*/
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.thumbnail {
    width: 30%;
    border: 2px solid #666;
    border-radius: 10px;
    overflow: hidden;
    /* position: relative; */
}
.thumbnail .data{
    width: 100%;
    display: block;
    
}
.thumbnail h3{
    padding: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}
.thumbnail p{
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}
.overlay{
    height: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 0.8s;
    text-align: center;
    padding: 50px 0;
}
.overlay:target{
    height: auto;
    width: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
}
.overlay .zoom{
    border-radius: 10px;
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.overlay p{
    color: rgb(245, 253, 253);
    padding: 0 100px;
    text-align: justify;
    text-indent: 20px;
}
.close{
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 5px;
    background-color: yellow;
    text-decoration: none;
    border-radius: 5px;
    z-index: 9999;
    /* opacity: 0; */
}
.overlay:target .close{
    animation: slideDanFade 0.5s 0.5s forwards;
}
.overlay:target .zoom{
    animation: zoomDanFade 2s;
}
@keyframes zoomDanFade{
    0%{
        opacity: 0;
        transform: scale(0)  rotate(0);
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}
@keyframes slideDanFade {
    0%{
        opacity: 0;
        margin-top: -80px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}