*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.jumbotron{
    background-image: url('./assets/computer.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    overflow: hidden;
}
.jumbotron img:hover{
    animation: zoomImg 5s ease;


}
@keyframes zoomImg{
    0%{
        transform: translateY(-30%);
        opacity: 0;
    }
    100%{
        transform: translateY(5%);
        opacity: 1;
    }
}

.overlay{
    height: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 0.8s;
    text-align: center;
    padding: 50px 0;
}
.overlay:target{
    height: auto;
    width: auto;
    bottom: 0;
    right: 0px;
    background-color: rgba(155, 150, 150, 0.9);
    overflow-y: scroll;
    /* z-index: 9999; */
}
.overlay .zoom{
    border-radius: 10px;
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.overlay:target .zoom{
    animation: zoomDanFade 2s;
}
.overlay p{
    padding: 0 100px;
    text-align: justify;
    text-indent: 20px;
}
.close{
    border-radius: 50%;
    line-height: 40px;
    position: absolute;
    right: 80px;
    height: 40px;
    width: 40px;
    background-color: aquamarine;
}
@keyframes zoomDanFade{
    0%{
        opacity: 0;
        transform: scale(0) rotate(0);
        border-radius: 100%;
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(360deg);
        border-radius: 3%;
    }
}
@media screen and (max-width : 576px) {
    .overlay .zoom{
        margin-top: 80px;
        width: 50%;
    }    
}